body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eb4c89;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none;
}

.global {
  background-color: #ff5295;
  display: flex;
  height: 200px;
}

.globalIcon {
  width: 50%;
  padding: 16px;
}

.globalInfo {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
}

.globalInfo > p {
  margin: 0;
  padding: 0;
}

.globalTitle {
  font-size: 36px;
letter-spacing: -1px;
color: #ffffff;
font-weight: bold;
font-family: "Gill Sans", sans-serif;
text-transform: uppercase;
}

.globalCases {
  font-size: 30px;
  letter-spacing: -1px;
  color: #ffffff;
  font-family: "Gill Sans";
}

.continentListItem {
  background-color: #ff5295;
}

.searchBar {
  background-color: #d14379;
  padding: 16px;
}

.searchBar > input {
  width: 100%;
  box-sizing: border-box;
  height: 32px;
}

.continentHeading > h3 {
  font-size: 24px;
letter-spacing: 0px;
line-height: 24px;
color: #ffffff;
font-weight: bold;
font-family: "Gill Sans", sans-serif;
margin: 16px;
}

.continentList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.continentList > div:nth-child(4n-2) {
  background-color: #d14379;
}

.continentList > div:nth-child(4n-1) {
  background-color: #d14379;
 }

.continentListItem {
  width:50%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  text-align: right;
  background-size: calc(75%);
  background-position: 16px 8px;
  background-repeat: no-repeat;
  padding: 8px;
  box-sizing: border-box;
}

.continentListItem > a {
  margin-bottom: auto;
}

.continentListItem > p {
  margin: 0;
}

.continentListItem > p:nth-child(2) {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Gill Sans", sans-serif;
  text-align: right;
  text-transform:uppercase;
  }

.continentListItem > p:nth-child(3) {
font-size: 20px;
letter-spacing: -1px;
color: #ffffff;
font-family: "Gill Sans", sans-serif;
text-align: right;
}

.continent {
  display: flex;
  height: 200px;
  background-color: #ff5295;
  box-sizing: border-box;
}

.continentIcon {
  width: 50%;
  box-sizing: border-box;
  padding: 16px;
}

.continentInfo {
  width: 50%;
  box-sizing: border-box;
  text-align: right;
  padding-right: 16px;
  align-self: center;
}

.continentName {
font-size: 36px;
letter-spacing: -1px;
color: #ffffff;
font-weight: bold;
font-family: "Gill Sans", sans-serif;
text-align: right;
margin:0;
text-transform: uppercase;
}

.continentCases {
  font-size: 30px;
letter-spacing: -1px;
color: #ffffff;
font-family: "Gill Sans", sans-serif;
padding: 0;
margin:0;
}

.countryHeading {
  font-size: 24px;
letter-spacing: 0px;
line-height: 24px;
color: #ffffff;
font-weight: bold;
font-family: "Gill Sans", sans-serif;
margin: 0;
padding: 16px;
background-color: #de4781;
text-transform: uppercase;
}

.countryList {
  display: flex;
  flex-direction: column;
  margin:0;
  padding: 0;
}

.countryList > div:nth-child(odd) {
  background-color: #ff5295;
}

.countryListItem {
 padding-left: 16px;
 display: flex;
}

.countryName {
  font-size: 20px;
line-height: 20px;
color: #ffffff;
font-weight: bold;
font-family: "Gill Sans", sans-serif;
}

.countryCases {
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Gill Sans", sans-serif;
  margin-left: auto;
  padding-right: 16px;
}